html, body {
	Padding: 0;
	Margin: 0;
	Height: 100%;
	font-family: Century Gothic, sans-serif;
	font-size: 12px;
}

p{
	padding: 5px;
	margin: 5px;
}
			
#header{
	/*border:solid 1px #000000;*/
	background:#ffffff;
	height:100px;
	padding-bottom:5px;
}
			
#main {
    Padding-bottom: 75px;   /* This value is the height of your footer */
}
 
#footer {
  	Position: absolute; /*absolute = stays at fixed position*/
  	Width: 100%;
 	Bottom: 0;
  	Height: 140px;  /* This value is the height of your footer */
  	background-color:#000000;
  	color:white;
  	float:left;
}

#relativeFooter {
  	Position: relative; /*absolute = stays at fixed position*/
  	Width: 100%;
 	Bottom: 0;
  	Height: 140px;  /* This value is the height of your footer */
  	background-color:#000000;
  	color:white;
  	float:left;
}
			
#page {
  	Min-height: 100%;  /* for all other browsers */
  	height: 100%;  /* for IE */
  	position:relative;
}
			
.section{
	float:left;
	background: url("../image/dots-vertical.gif") repeat-y scroll right top transparent;
	height: 140px;
	width:220px;
	font-weight:bold;
}
			
.copyright{
	margin-top:120px;
	font-size:11px;
}
			
.content {
	background: url("../image/dots-vertical.gif") repeat-y scroll right top transparent;
	height: 211px;
}

.topRightContent{
	margin-bottom:10px;
	margin-top:10px;
	margin-right:10px;
	padding-right:5px;
	font-family: Tahoma,Geneva,sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
}
			
li{
	font-weight:normal;
	font-size:11px;
}

.topLeftContent{
	float:left;
    width:100px;
    height:100px;
    padding-right:10px;
    margin-left:10px;
}
			
.topCenterContent{
    display: inline-block;
    /*margin:0 auto;*/
    /*width:100px;*/
    height: 20px;
    margin: 80px auto 0 500px;
}

.spacer{clear:both; height:1px;}

.error{
	font-family: Century Gothic, sans-serif;
	font-size: 12px;
	font-weight: normal; 
	color : red;
	/*background-color: #FFDFDF;*/
	margin-left: 152px;
}

.responsiveDiv{
	font-family: Century Gothic, sans-serif;
	font-size: 11px;
	font-weight: normal; 
	color : red;
	/*background-color: #FFDFDF;*/
	margin-left: 152px;
}	
		
.signInRegisterSmallLink{
	font-size: 11px;
	text-decoration: none;
}

body{
	font-family: Century Gothic, sans-serif;
	font-size: 12px;	
}

.title{
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	font-weight:bold;
	margin-left:5px;
	border-bottom:solid 1px #b7ddf2;
	margin-bottom:20px;
	margin-top:5px;
	padding-bottom:5px;	   	
	padding-right: 5px;	
}

.mainDiv{
	border:1px solid;
	width: 500px;
	margin-left: auto ;
	margin-right: auto ;
	padding-bottom:5px;
	margin-bottom:5px;
}

.mainDiv800{
	border:1px solid;
	width: 800px;
	margin-left: auto ;
	margin-right: auto ;
	padding-bottom:5px;
	margin-bottom:5px;
}

.mainDiv1000{
	border:1px solid;
	width: 1000px;
	margin-left: auto ;
	margin-right: auto ;
	padding-bottom:5px;
	margin-bottom:5px;
}


.lable{
	float:left;
	width:150px;
	text-align:right;
	font-weight:bold;
	margin-right:5px;
}

.contentRadio{
	margin-bottom:10px;
	width:100%;	
}

.contentText{
	margin-bottom:10px;
	width:100%;
	size: 200px;
}

input {
	padding: 1%;
	font-family: Century Gothic, sans-serif;
	font-size: 12px;	
	border: 1px solid #000000;
}

select {
	font-family: Century Gothic, sans-serif;
	font-size: 12px;	
	border: 1px solid #000000;
}

textarea {
	/*
	font-family: Century Gothic, sans-serif;
	font-size: 12px;*/
		
	border: 1px solid #000000;
}

button{
	background: url("img/button.png") no-repeat scroll 0 0 #000000;
	color:#FFFFFF;
	text-align:center;
	width: 150px;
	margin-right: 5px;
	padding-right: 5px;
	height: 30px;
}

.button1{
	float:left;
	margin-left:152px;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
	margin-bottom:5px;
	padding-bottom:5px;
	color: #FFFFFF;
	font-weight: bold;
}

.small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
.row{
	height:40px;
}

.smallHyperLink{
	color:#666666;
	font-size:11px;
	text-align:left;
	text-decoration:none;
	margin-left: 150px;
	padding-top:10px;
	margin-top:10px;
}

th{
	background-color: black;
    color: white;
}

li{
	list-style-type: none;
}

.readOnly{
	background-color: lavenderblush;
}
