<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AdvocatesOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-context.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>
  			org.springframework.web.context.ContextLoaderListener
  		</listener-class>
  </listener>
  <servlet>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>com.advocatesOnline.servlet.RegisterUser</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerAdvocate</servlet-name>
    <servlet-class>com.advocatesOnline.servlet.RegisterAdvocate</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerAdvocate</servlet-name>
    <url-pattern>/registerAdvocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.advocatesOnline.servlet.UserLogin</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newCase</servlet-name>
    <servlet-class>com.advocatesOnline.servlet.NewCase</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>newCase</servlet-name>
    <url-pattern>/newCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewCases</servlet-name>
    <servlet-class>com.advocatesOnline.servlet.ViewCases</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCases</servlet-name>
    <url-pattern>/viewCases</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeUserPassword</servlet-name>
    <servlet-class>com.advocatesOnline.servlet.ChangeUserPassword</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeUserPassword</servlet-name>
    <url-pattern>/changeUserPassword</url-pattern>
  </servlet-mapping>
</web-app>